<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Recipes</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <h3>List Recipes</h3>

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>ID</th>
            <th>Recipe</th>
            <th>Description</th>
            <th>Preparation</th>
            <th>Cousine Type</th>
            <th>Dish Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe: ${recipe}">
            <td th:text="${recipe.id}" />
            <td th:text="${recipe.recipe_name}" />
            <td th:text="${recipe.recipe_desc}" />
            <td th:text="${recipe.recipe_prep}" />
            <td th:text="${recipe.cousine_type}" />
            <td th:text="${recipe.dish_type}" />
        </tr>
        </tbody>

    </table>
</div>


</body>

</html>